html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}


/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

body {
    width: 19.9em;
    margin: 0 auto;
    height: auto;
    font-family: 'Open Sans', sans-serif;
}

.head {
    width: 90%;
    height: auto;
    margin: 0 auto;
}

.head__container {
    width: 100%;
    margin: 0 auto;
}

.head__container--logo {
    margin: 1em 3em;
}

.head__subscribe {
    width: 80%;
    height: 3.5em;
    background-color: #ffb61f;
    border: none;
    border-radius: .2em;
    color: #fff;
    margin: 1em 2em auto;
}

.head__subscribe--send {
    text-decoration: none;
    color: #fff;
    font-size: 1.5em;
    font-weight: 800;
}

.text {
    position: relative;
    width: 87%;
    height: 15.8em;
    border-right: .2em solid #c56700;
    border-bottom: .2em solid #c56700;
    border-radius: .4em;
    margin: 0 auto;
    margin-top: 1em;
}

.text::before {
    content: url(triangle.png);
    position: absolute;
    background-repeat: no-repeat;
    margin: 13.2em 0em;
}

.text__name {
    color: #757575;
    font-size: 1.1em;
    margin: .8em;
    display: inline-block;
}

.text__name--count {
    display: inline;
    float: right;
    margin: 1em .5em
}

.text__month {
    text-align: center;
    position: relative;
    font-size: 2em;
    text-transform: capitalize;
    color: #757575;
    width: 80%;
    margin: 0.62em auto;
    font-family: 'Lobster', cursive;
}

.text__month::before {
    content: '';
    position: absolute;
    width: 2.9em;
    height: .04em;
    background-color: #757575;
    margin: .8em -3em;
}

.text__month::after {
    content: '';
    position: absolute;
    width: 2.9em;
    height: .04em;
    background-color: #757575;
    margin: .8em 0em;
}

.text__month--article {
    margin: 1em 2em;
}

.banner {
    width: 90%;
    height: 15.6em;
    margin: 0 auto;
    margin-top: 1em;
    background-color: #dedede;
}

.foot {
    width: 90%;
    height: 4.18em;
    margin: 0 auto;
    margin-top: 1em;
}

.foot__menu {
    display: block;
}

.foot__menu--list {
    display: inline-block;
    margin: .4em .3em auto;
    font-size: .9em;
}

.foot__menu--link {
    text-decoration: none;
    color: gray;
    text-transform: capitalize;
}

.foot__logo {
    float: left;
    margin: 0em 1em;
}

.foot__copy {
    float: right;
    margin: .3em 1em;
}